@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.video {
  background-color: $color-light;
  padding: 0px 30px 90px;

  &__iframe {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: 0;
  }
}
