@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
  padding-block: 67px 141px;
  background-color: $color-light;

  @include respond(lg) {
    padding-block: 50px 150px;
  }
}